.change-ratio{
    height: 180px;
    overflow: hidden;
}

.description-course{
    height: 120px;
    overflow: hidden;
}

.change-ratio-mobile{
    height: 70px;
    overflow: hidden;
}

.description-course-mobile{
    height: 120px;
    overflow: hidden;
}