.change-ratio{
    height: 180px;
    overflow: hidden;
}

.description-course{
    height: 120px;
    overflow: hidden;
}

.change-ratio-mobile{
    height: 70px;
    overflow: hidden;
}

.description-course-mobile{
    height: 120px;
    overflow: hidden;
}

.sale_sticker{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: rotate(20deg);
    -webkit-transition: transform 1s ease-in-out; /* Safari */
    transition: transform 1s ease-in-out;
    z-index: 100;
}

.sale_sticker:hover{
    transform: rotate(30deg);
}