.Login_Header {
    background-color: rgb(191, 250, 201);
    text-align: center;
    font-size: large;
  }
  

  .Login_smoke {	
    background-color: rgb(255, 252, 226);	
    text-align: center;	
    font-size: large;	
  }

.Login_Footer {
    background-color: rgb(255, 255, 255);
    text-align: center;	
  }